@charset "utf-8";
/* CSS Document */

body{
	font-family: Tahoma;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	background-color: #cce6ff; 
	margin:center;
	width:60%;
	min-width: 500px;
}

.button{
	font-size: 16px;
}


@media only screen and (max-device-width: 480px) {
  /* define mobile specific styles come here */
	body{
		width:90%; 
	}
	#form p{
		font-size: 36px;

	}
	textarea{
		font-size: 14px;
		height: 800px;
	}
	.button{
		/*space them out*/
		font-size: 36px;
	}
	#form input{
		font-size: 36px;
	}
	/*need to make buttons, labels & boxes in form scale properly*/
}

/*need to do something for ipad sizes*/
	
#header{
	background-color: #ffe6f3;
	height:auto;
	width:auto;
	overflow:auto;
	text-align:center;
}

#main{
	background-color:#ffffff;
	height:auto;
	width:auto;
	overflow:auto;
	padding: 20px;
}

#intro{

}

#form{
	padding: 10px;
}



#messageDiv{

}

textarea{
	overflow: auto;
	resize: none;
	width: 100%;
	height:500px;
	font-family: Tahoma;
	font-size: 14px;
}

#suggestion{

}

#footer{
	font-size:10px;
	padding-top:20px;

}

